@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*
  

:root {
    --clr:#111111;
  }

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr);
  }

.nav {
  position:relative;
    width: 350px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

.nav ul {
    display: flex;
    width: 300px;
  }

  .nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

.nav ul li a {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

.nav ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color:var(--clr);
    transition: 0.5s;
  }

.nav ul li.active a .icon {
    transform: translateY(-50px);
  }

.nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transform: translateY(20px);
    transition: 0.5s;
    opacity: 0;
  }

.nav ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
  }

.indicator{
    position:absolute;
    top: -50px;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
  }

.indicator::before {
    content: ' ';
    position: absolute;
    background: transparent;
    top: 50px;
    left: -22px ;
    width: 20px ;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
  }

.indicator::after {
    content: '';
    position: absolute;
    background: transparent;
    top: 50%;
    right: -20px ;
    width: 20px ;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
  }


  .nav ul li:nth-child(1).active~.indicator
  {
    transform: translateX(calc(70px * 0));
  }

  .nav ul li:nth-child(2).active ~ .indicator
  {
    transform: translateX(calc(70px * 1));
  }

  .nav ul li:nth-child(3).active ~ .indicator
  {
    transform: translateX(calc(70px * 2));
  }

  .nav ul li:nth-child(4).active ~ .indicator
  {
    transform: translateX(calc(70px * 3));
  }

 

#kitty{
    width: 10px;
    height: 10px;
    position: relative;
    top: 0;
    left: 0;
}

a:hover
    {
        color:black;
    }

.fa-youtube {
  background: var(--clr);
  color: rgb(252, 4, 4);
}
.fa-linkedin {
  background: var(--clr);
  color: rgb(58, 4, 252);
}